openapi: 3.0.0
x-nhs-api-spec-guid: c488b99d-f9df-481b-a903-f16cab4855a6
x-meta:
  service_name: "fhir-converter"
  short_service_name: "fc"
  product_display_name: "FHIR Converter"
  service_base_path: "fhir-converter"
  product_description: "This proxy converts resource types `MedicationRequest` and `MedicationStatements` from STU3 to FHIR R4 and vice versa"
  pipeline_name_prefix: "FHIR-Converter"
info:
  version: "{VERSION}"
  title: FHIR Converter
  description:  |
    
    <div class="nhsd-m-emphasis-box nhsd-m-emphasis-box--emphasis nhsd-!t-margin-bottom-6" aria-label="Highlighted Information">
        <div class="nhsd-a-box nhsd-a-box--border-blue">
            <div class="nhsd-m-emphasis-box__image-box">
                <figure class="nhsd-a-image">
                    <picture class="nhsd-a-image__picture">
                        <img src="http://digital.nhs.uk/binaries/content/gallery/icons/info.svg?colour=231f20" alt="" style="object-fit:fill">
                    </picture>
                </figure>
            </div>
            <div class="nhsd-m-emphasis-box__content-box">
                <div data-uipath="website.contentblock.emphasis.content" class="nhsd-t-word-break"><p class="nhsd-t-body">This API is <a href="https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses">retired</a> and not available for use.</p></div>
            </div>
        </div>
    </div>
    
    ## Overview
    Use this API to convert resource types `MedicationRequest` and `MedicationStatements` from STU3 to FHIR R4 and vice versa.

    You can:
      - post either a `MedicationRequest` or `MedicationStatement`

    You cannot:
      - convert between any other resource types

    To use this API:
    1. Send your source payload to this API.
    2. This API converts your source payload to the target version.
    3. You receive the converted payload in the response.

    ## Who can use this API
    This API can only be used where there is a legal basis to do so. Make sure you have a valid use case before you go too far with your development. You must do this before you can go live (see ‘Onboarding’ below).

    ## API status and roadmap
    This API is [retired](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses) and not available for use.
    
    If you have any other queries, please [contact us](https://digital.nhs.uk/developer/help-and-support).
    
    ### Roadmap

    To see our roadmap, or to suggest, comment or vote on features for this API, see our [interactive product backlog](https://nhs-digital-api-management.featureupvote.com/?order=popular&filter=allexceptdone&tag=fhir-converter&deleted=0#controls).

    If you have any other queries, [contact us](https://digital.nhs.uk/developer/help-and-support).

    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest) and uses HTTP POST to submit data. It is synchronous - you receive your converted resource in the response body.

    It conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#fhir) global standard for health care data exchange, specifically to [FHIR R4 (v4.0.1)](https://hl7.org/fhir/r4/), except that it does not support the [capabilities](http://hl7.org/fhir/R4/http.html#capabilities) interaction.
    
    ## Network access
    This API is available on the internet.

    For more details, see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).

    ## Security and authorisation
    ### Application-restricted access
    This access mode is [application-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis),
    meaning we authenticate the calling application but not the end user.

    This access mode uses the following security pattern:
    * [Application-restricted RESTful API - signed JWT authentication](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication)
    
    ## Supported FHIR resources and extensions
    This service supports conversion from STU3 to R4 and vice versa for following FHIR resources:
    - Bundle
    - MedicationRequest
    - MedicationStatement
    
    For STU3 to R4 conversion, this service can convert various extensions as listed in the version 
    [v0.1.0](https://github.com/NHSDigital/fhir-transforms/tree/a60eac0ea4e0ce62075378b36fac00eff7f0ce82) of the [fhir-transform](https://github.com/NHSDigital/fhir-transforms) repository. This 
    repository contains the mapping definitions for various [UK Core](https://digital.nhs.uk/developer/api-catalogue/fhir-uk-core-standards) and [Care Connect](https://digital.nhs.uk/developer/api-catalogue/care-connect-fhir-standards) extensions.
    

    ## Environments and testing

    | Environment       | Base URL                                                               |
    | ----------------- | ---------------------------------------------------------------------- |
    | Integration test  | `https://int.api.service.nhs.uk/fhir-converter`                        |
    | Production        | Not yet available                                                      |

    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):
    - is for formal integration testing
    - is for receiving data quality reports of test data

    For more details see [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).

    ## Errors
    We use standard HTTP status codes to show whether an API request succeeded or not. They are usually in the range:

    * 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action
    * 400 to 499 if it failed because of a client error by your application
    * 500 to 599 if it failed because of an error on our server
    
    Errors specific to each API are shown in the Endpoints section, under Response. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.    
  
  contact:
    name: FHIR Converter
    url: "https://digital.nhs.uk/developer/help-and-support"
    email: api.management@nhs.net
servers:
  - url: "https://sandbox.api.service.nhs.uk/fhir-converter"
    description: Sandbox environment.
  - url: "https://int.api.service.nhs.uk/fhir-converter"
    description: Integration test environment.
  - url: "https://api.service.nhs.uk/fhir-converter"
    description: "Production environment."
tags:
  - name: FHIR Converter
paths:
  /$convert:
    post:
      summary: Convert FHIR payload
      operationId: convert
      description: |
        ## Overview
        Use this endpoint to convert resource types `MedicationRequest` and `MedicationStatements` from FHIR STU3 to FHIR R4 and vice versa.
      requestBody:
        content:
          "application/fhir+json; fhirVersion=3.0":
            schema: {}
            examples:
              MedicationRequest:
                $ref: "#/components/examples/MedicationRequest_STU3_JSON"
              MedicationStatement:
                $ref: "#/components/examples/MedicationStatement_STU3_JSON"
          "application/fhir+xml; fhirVersion=3.0":
            schema: {}
            examples:
              MedicationRequest:
                $ref: "#/components/examples/MedicationRequest_STU3_XML"
              MedicationStatement:
                $ref: "#/components/examples/MedicationStatement_STU3_XML"
          "application/fhir+json; fhirVersion=4.0":
            schema: {}
            examples:
              MedicationRequest:
                $ref: "#/components/examples/MedicationRequest_R4_JSON"
              MedicationStatement:
                $ref: "#/components/examples/MedicationStatement_R4_JSON"
          "application/fhir+xml; fhirVersion=4.0":
            schema: {}
            examples:
              MedicationRequest:
                $ref: "#/components/examples/MedicationRequest_R4_XML"
              MedicationStatement:
                $ref: "#/components/examples/MedicationStatement_R4_XML"
      responses:
        "200":
          description: Successful convertion
          content:
            "application/fhir+json; fhirVersion=3.0":
              examples:
                MedicationRequest:
                  $ref: "#/components/examples/MedicationRequest_STU3_JSON"
                MedicationStatement:
                  $ref: "#/components/examples/MedicationStatement_STU3_JSON"
            "application/fhir+xml; fhirVersion=3.0":
              examples:
                MedicationRequest:
                  $ref: "#/components/examples/MedicationRequest_STU3_XML"
                MedicationStatement:
                  $ref: "#/components/examples/MedicationStatement_STU3_XML"
            "application/fhir+json; fhirVersion=4.0":
              examples:
                MedicationRequest:
                  $ref: "#/components/examples/MedicationRequest_R4_JSON"
                MedicationStatement:
                  $ref: "#/components/examples/MedicationStatement_R4_JSON"
            "application/fhir+xml; fhirVersion=4.0":
              examples:
                MedicationRequest:
                  $ref: "#/components/examples/MedicationRequest_R4_XML"
                MedicationStatement:
                  $ref: "#/components/examples/MedicationStatement_R4_XML"
        "400":
          description: Invalid request
          content:
            "application/fhir+json; fhirVersion=4.0":
              examples:
                "Invalid or missing header":
                  $ref: "#/components/examples/InvalidOrMissingHeader"

components:
  examples:
    "MedicationRequest_R4_JSON":
      summary: R4 JSON MedicationRequest
      value:
        $ref: "components/examples/MedicationRequest/r4.json"
    "MedicationStatement_R4_JSON":
      summary: R4 JSON MedicationStatement
      value:
        $ref: "components/examples/MedicationStatement/r4.json"
    "MedicationRequest_R4_XML":
      summary: R4 XML MedicationRequest
      value:
        $ref: "components/examples/MedicationRequest/r4.xml"
    "MedicationStatement_R4_XML":
      summary: R4 XML MedicationStatement
      value:
        $ref: "components/examples/MedicationStatement/r4.xml"
    "MedicationRequest_STU3_JSON":
      summary: STU3 JSON MedicationRequest
      value:
        $ref: "components/examples/MedicationRequest/stu3.json"
    "MedicationStatement_STU3_JSON":
      summary: STU3 JSON MedicationStatement
      value:
        $ref: "components/examples/MedicationStatement/stu3.json"
    "MedicationRequest_STU3_XML":
      summary: STU3 XML MedicationRequest
      value:
        $ref: "components/examples/MedicationRequest/stu3.xml"
    "MedicationStatement_STU3_XML":
      summary: STU3 XML MedicationStatement
      value:
        $ref: "components/examples/MedicationStatement/stu3.xml"
    "InvalidOrMissingHeader":
      summary: Invalid of missing header errror
      value:
        $ref: "components/examples/400.json"
